{% extends 'base.html.twig' %}

{% block title %}
    New Task
{% endblock %}

{% block body %}

    <h1 class = "">Crée une tâche</h1>
    <p>Ajoutez une nouvelle tâche à votre list</p>


    {{form_start(form)}}
    <div>

        <div class="">
            {{form_label(form.title)}}
            {{ form_widget(form.title, {
            attr: { class: 'w-full bg-gray-100 rounded-lg p-2' }
            }) }}
        </div>
        <div class="">
            {{form_label(form.priority)}}
            {{form_widget(form.priority)}}
        </div>
        <div>
            {{form_label(form.folder)}}
            {{form_widget(form.folder)}}
        </div>
        <div>
            <a href="{{path('app_home')}}"
                class ="bg-white border border-gray-100 hover:bg-black hover:text-white">Annuler</a>
                 <a href="{{path('app_home')}}"type="submit"
                class ="bg-white border border-gray-100 hover:bg-black hover:text-white">Créer</a>
               

        </div>

        {{form_end(form)}}


        {# <a href="{{ path('app_task_index') }}">back to list</a> #}
    {% endblock %}
